
body {
    font-family: "Roboto", sans-serif;
    background: #EFF1F3;
    min-height: 100vh;
    position: relative;
}

.m-b-50 {
    margin-bottom: 50px;
}

.dark-link {
    color: #333;
}

.heading-line {
    position: relative;
    padding-bottom: 5px;
}

.heading-line:after {
    content: "";
    height: 4px;
    width: 75px;
    background-color: #29B6F6;
    position: absolute;
    bottom: 0;
    left: 0;
}

.notification-ui_dd-content {
    margin-bottom: 10px;
}

.notification-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 7px;
    background: #fff;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.notification-list--unread {
    border-left: 2px solid #29B6F6;
}

.notification-list--read {
    border-left: 2px solid #28e664;
}

.notification-list .notification-list_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.notification-list .notification-list_content .notification-list_img img {
    height: 48px;
    width: 48px;
    border-radius: 50px;
    margin-right: 20px;
}

.notification-list .notification-list_content .notification-list_detail p {
    margin-bottom: 5px;
    line-height: 1.2;
}

.notification-list .notification-list_feature-right {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    border-radius: 5px;
    
}

.notification-list .notification-list_feature-right button {
    margin-bottom: 10px; 
    width: 6rem;
}

.radio-group {
    display: flex;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"] + label {
    padding: 10px 20px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  
  /* Style checked buttons */
  input[type="radio"]:checked + label {
    background: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  /* Bold heading */  
  h2 {
    font-weight: 600;
  }
  