<div id="layout-wrapper">
    <sidebar #navbar (toggleNavBar$)="toggleNavBar($event);"></sidebar>
    <div class="page-content" [ngStyle]="{ 'padding-left': ( sideBarVisible ? '250px' : '0px' )}">
        <div class="container-fluid">
            <header id="page-topbar">
                <topbar (requestNavBarToggle$)="reqeustNavBarToggle($event);"></topbar>
            </header>
            <main class="content" style="padding-top:0px !important;padding-left:0px;padding-right:0px;">
                <ngx-spinner bdColor="rgba(0,0,0,0.3)" size="medium" color="#fff" type="square-jelly-box"
                [fullScreen]="true"
                template="<b><img src=http://rechorderp.com/app/images/loader_cupom.gif height=100px width=100px></b>">
                <p style="color: white"> Loading... </p>
            </ngx-spinner>
            <div class="row">
                <div [ngClass]="{'ahashakeheartache': warnClass}">
                    <div class="col-md-12">
                        <div class="alert alert-info alert-dismissible" *ngIf="alertMessage.SuccessMessage">
                            <button type="button" class="btn-close" (click)="dismissAlert()"
                                aria-label="Close"></button>
                            <div class="alert-message">
                                {{alertMessage.SuccessMessage}}
                            </div>
                        </div>
                        <div class="alert alert-danger alert-dismissible" *ngIf="alertMessage.ErrorMessage">
                            <button type="button" class="btn-close" (click)="dismissAlert()"
                                aria-label="Close"></button>
                            <div class="alert-message">
                                {{alertMessage.ErrorMessage}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div>
                    <!-- Top navbar -->
                    <!-- Header -->
                    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
                        style="min-height: 600px; background-image: url(https://cdn.pixabay.com/photo/2018/11/13/22/01/avatar-3814081_640.png); background-size: cover; background-position: center top;">
                        <!-- Mask -->
                        <span class="mask bg-gradient-default opacity-8"></span>
                        <!-- Header container -->
                        <div class="container-fluid d-flex align-items-center">
                            <div class="row">
                                <div class="col-lg-7 col-md-10">
                                    <h1 class="display-2 text-white">Hello {{entityData.BusinessUser.UserName}}</h1>
                                    <p class="text-white mt-0 mb-5">This is your profile page.</p>
                                    <a class="btn btn-info" (click)="save()">Edit profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Page content -->
                    <div class="container-fluid" style="margin-top: -8rem!important">
                        <div class="row">
                            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                                <div class="card card-profile shadow">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-3 order-lg-2">
                                            <div class="card-profile-image">
                                                <a>
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBwl5Yg5PxR_nn3K9aBlpOwR5ZluiwFxWggzeyq0KM7rDyoS3XtJ7Er76VdpOt9lEe0gk&usqp=CAU"
                                                        class="rounded-circle">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                                        <div class="d-flex justify-content-between">
                                            <!--<a  class="btn btn-sm btn-info mr-4">Connect</a>
                <a  class="btn btn-sm btn-default float-right">Message</a>-->
                                        </div>
                                    </div>
                                    <div class="card-body pt-0 pt-md-4">
                                        <div class="row">
                                            <div class="col">
                                                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                                    <!--<div>
                      <span class="heading">22</span>
                      <span class="description">Friends</span>
                    </div>
                    <div>
                      <span class="heading">10</span>
                      <span class="description">Photos</span>
                    </div>
                    <div>
                      <span class="heading">89</span>
                      <span class="description">Comments</span>
                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <h3>
                                                {{entityData.BusinessUser.FirstName}}  {{entityData.BusinessUser.LastName}}<span class="font-weight-light">, 27</span>
                                            </h3>
                                            <div class="h5 font-weight-300">
                                                <i class="ni location_pin mr-2"></i>{{entityData.BusinessUser.Address}}
                                            </div>
                                            <div class="h5 mt-4">
                                                <i class="ni business_briefcase-24 mr-2"></i>{{role}} - {{organization.Name}}
                                            </div>
                                            <hr class="my-4">
                                            <p>{{organization.Description}}</p>
                                            <a style="color: blue;">Show more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 order-xl-1">
                                <div class="card bg-secondary shadow">
                                    <div class="card-header bg-white border-0">
                                        <div class="row align-items-center">
                                            <div class="col-8">
                                                <h3 class="mb-0">My Profile</h3>
                                            </div>
                                            <div class="col-4 text-right">
                                                <!--<a href="#!" class="btn btn-sm btn-primary">Settings</a>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <h6 class="heading-small text-muted mb-4">User information</h6>
                                            <div class="pl-lg-4">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label">First name</label>
                                                            <input type="text" [(ngModel)]="entityData.BusinessUser.FirstName"
                                                                class="form-control form-control-alternative">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label">Last name</label>
                                                            <input type="text" [(ngModel)]="entityData.BusinessUser.LastName"
                                                                class="form-control form-control-alternative">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label">Username</label>
                                                            <input type="text" [(ngModel)]="entityData.BusinessUser.UserName"
                                                                class="form-control form-control-alternative">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="input-email">Email
                                                                address</label>
                                                            <input type="email" [(ngModel)]="entityData.BusinessUser.Email"
                                                                class="form-control form-control-alternative">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="my-4">
                                            <!-- Address -->
                                            <h6 class="heading-small text-muted mb-4">Contact information</h6>
                                            <div class="pl-lg-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group focused">
                                                            <label class="form-control-label"
                                                                for="input-address">Address</label>
                                                            <textarea  [(ngModel)]="entityData.BusinessUser.Address"
                                                                class="form-control form-control-alternative"
                                                                type="text"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="input-email">Mobile
                                                                number</label>
                                                            <input type="number"
                                                                class="form-control form-control-alternative">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="my-4">
                                            <!-- Description -->
                                            <h6 class="heading-small text-muted mb-4">About me</h6>
                                            <div class="pl-lg-4">
                                                <div class="form-group focused">
                                                    <label>About Me</label>
                                                    <textarea rows="4" class="form-control form-control-alternative"
                                                        placeholder="A few words about you ..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>
</div>