.nav-item.active {
    border-top: 2px solid black;
    background-color: whitesmoke;
}

.nav-item.active span {
    font-weight: bold;
    color: black;
}

.table-responsive .dropdown-menu {
    position: absolute !important;
    top: 0% !important;
    left: 100% !important;
}

.custom-thead {
    width: auto;
    text-transform: capitalize;
    background-color: lightblue;
    line-height: 10px;
}

.custom-tr {
    white-space: nowrap; 
    text-align:left;
}

.custom-th {
    max-width: 5rem !important;
    width: 5rem !important;
}
