
.form-right {
    width: 25%;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  
  .form-left {
    width: 75%;
  }
  
  
  .file-upload-button {
    background-color: #5b73e8;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .file-delete-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }