<div id="layout-wrapper">
    <sidebar #navbar (toggleNavBar$)="toggleNavBar($event);"></sidebar>
    <div class="page-content" [ngStyle]="{ 'padding-left': ( sideBarVisible ? '250px' : '0px' )}">
        <div class="container-fluid">
            <header id="page-topbar">
                <topbar (requestNavBarToggle$)="reqeustNavBarToggle($event);"></topbar>
            </header>
            <main class="content" style="padding-top:0px !important;padding-left:0px;padding-right:0px;">
                <div class="row">
                    <div [ngClass]="{'ahashakeheartache': warnClass}">
                        <div class="col-md-12">
                            <div class="alert alert-info alert-dismissible" *ngIf="alertMessage.SuccessMessage">
                                <button type="button" class="btn-close" (click)="dismissAlert()"
                                    aria-label="Close"></button>
                                <div class="alert-message">
                                    {{alertMessage.SuccessMessage}}
                                </div>
                            </div>
                            <div class="alert alert-danger alert-dismissible" *ngIf="alertMessage.ErrorMessage">
                                <button type="button" class="btn-close" (click)="dismissAlert()"
                                    aria-label="Close"></button>
                                <div class="alert-message">
                                    {{alertMessage.ErrorMessage}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ngx-spinner bdColor="rgba(0,0,0,0.3)" size="medium" color="#fff" type="square-jelly-box"
                    [fullScreen]="true"
                    template="<b><img src=http://rechorderp.com/app/images/loader_cupom.gif height=100px width=100px></b>">
                    <p style="color: white"> Loading... </p>
                </ngx-spinner>
                <a id="back-to-top"></a>
                <div class="Card">
                    <div style="padding: 5px;">
                        <div class="row">
                            <div class="col-md-6" style="display:flex; align-items: center;">
                                <h3 class="text-primary  hide-long-text" style="margin:0px">
                                    <img src="https://e7.pngegg.com/pngimages/466/87/png-clipart-computer-icons-house-green-home-finder-properties-angle-building.png"
                                        height="30px" width="30px">
                                    &nbsp;Property
                                </h3>

                            </div>

                            <div class="col-md-6" style="margin-top: 5px;">
                                <div class="btn-group" style="float:right;">
                                    <button class="btn btn-primary" type="button" (click)="add()">Add
                                        Property</button>
                                    <button class="btn btn-secondary" (click)="back()">Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab" style="overflow-x: auto; overflow-y: hidden; background-color: lightgrey;">
                        <ul class="nav nav-tabs" style="flex-wrap: nowrap;">
                            <li [ngClass]="{ 'active': currentTab == o.Value, 'nav-item': true }"
                                (click)="currentTab = o.Value" *ngFor="let o of tabs; let i = index">
                                <a class="nav-link" role="tab">
                                    <span style="white-space:nowrap;">{{o.Name}}</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="card">
                        <div *ngIf="currentTab == 'PRIMARY'">
                            <div class="card" style="padding:10px;">
                                <div style="display: flex; flex-direction: row;">
                                    <div class="form-left">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <br><label class="required input-label">Unit Type</label><br />
                                                <input class="form-control" type="text"
                                                    [(ngModel)]="entityData.Property.UnitType" [readOnly]="true" />
                                            </div><br />
                                            <div class="col-md-4">
                                                <br><label class="required input-label">Name</label><br />
                                                <input class="form-control" type="text"
                                                    [(ngModel)]="entityData.Property.Name" />
                                            </div><br />
                                            <div class="col-md-4">
                                                <br><label class="required input-label">Price</label><br />
                                                <input class="form-control" type="number"
                                                    [(ngModel)]="entityData.Property.Price" />
                                            </div><br />
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <br><label class="required input-label">Status</label><br />
                                                <select class="form-select" [(ngModel)]="entityData.Property.Status">
                                                    <option *ngFor="let o of propertyStatusList" [ngValue]="o.Item1">
                                                        {{setPropertyStatus(o.Item1)}}</option>
                                                </select>
                                            </div><br />
                                            <div class="col-md-4">
                                                <br><label class="input-label"><b>Construction Date</b></label><br />
                                                <input mwlFlatpickr (ngModelChange)="formatDate($event)"
                                                    [dateFormat]="'d/m/Y'" [altFormat]="'d/m/Y'" [disableMobile]="true"
                                                    [altInput]="false" [convertModelValue]="true" class="form-control"
                                                    [(ngModel)]="entityData.Property.ConstructionDate" />
                                            </div><br />
                                            <div class="col-md-4">
                                                <br><label class="required input-label">Manager</label><br />
                                                <select class="form-select"
                                                    [(ngModel)]="entityData.Property.PropertyManagerId">
                                                    <option *ngFor="let o of propertyManagerList" [ngValue]="o.Id">
                                                        {{o.FirstName}} {{o.LastName}}</option>
                                                </select>
                                            </div><br />
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <br><label class="input-label">Beds</label><br />
                                                <input class="form-control" type="number"
                                                    [(ngModel)]="entityData.Property.Bedrooms" />
                                            </div><br />
                                            <div class="col-md-4">
                                                <br><label class="input-label">Baths</label><br />
                                                <input class="form-control" type="number"
                                                    [(ngModel)]="entityData.Property.Bathrooms" />
                                            </div><br />
                                            <div class="col-md-4">
                                                <br><label class="required input-label">Area (Sqft)</label><br />
                                                <input class="form-control" type="number"
                                                    [(ngModel)]="entityData.Property.Area" />
                                            </div><br />
                                        </div>
                                    </div>
                                    <div class="col-md-3 form-right">
                                        <div class="d-flex" style="flex-direction: column;align-items: center;">
                                            <label class="input-label">Image</label>
                                            <div class="btn-group">
                                                <img height="200px" width="200px"
                                                    [src]="entityData.Property.Url ? entityData.Property.Url : 'https://www.vinebrookhomes.com/img/default.png'"
                                                    style="border: 2px solid #555;">
                                            </div>
                                            <div class="btn-group" style="margin-top:0.5rem;  ">
                                                <input class="form-control d-none" type="file" id="myfile" name="myfile"
                                                    (change)="getImageData($event)" accept="image/*" />
                                                <label for="myfile" class="file-upload-button">
                                                    Upload
                                                </label> &nbsp;
                                                <label class="file-delete-button"> <i class='fas fa-trash-alt'
                                                        (click)="deleteImage()"
                                                        style="color: white; font-size:small;"></i></label>
                                            </div>
                                        </div>
                                    </div><br />
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="input-label"><b><b>Description</b></b></label><br />
                                        <textarea class="form-control" rows="3" name="description" style="width: 100%;"
                                            [(ngModel)]="entityData.Property.Description">
                                    </textarea>
                                    </div><br />
                                    <div class="col-md-12">
                                        <br><label class="input-label"><b><b>Address</b></b></label><br />
                                        <textarea class="form-control" rows="3" name="description" style="width: 100%;"
                                            [(ngModel)]="entityData.Property.Address">
                                    </textarea>
                                    </div><br />
                                    <div class="col-md-3">
                                        <br>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="published"
                                                [(ngModel)]="entityData.Property.IsPublished">
                                            <label class="form-check-label" for="published">Is Published</label>
                                        </div>
                                    </div><br />
                                    <div class="col-md-3">
                                        <br>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="available"
                                                [(ngModel)]="entityData.Property.IsAvailable">
                                            <label class="form-check-label" for="available">Is Available</label>
                                        </div>
                                    </div><br />
                                    <div class="col-md-3">
                                        <br>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="featured"
                                                [(ngModel)]="entityData.Property.IsFeatured">
                                            <label class="form-check-label" for="featured">Is Featured</label>
                                        </div>
                                    </div><br />
                                    <div class="col-md-12">
                                        <br>
                                        <div class="collapsible" [ngClass]="{ 'active': isExpanded }">
                                            <div class="collapsible-header" (click)="toggleCollapse()">
                                                <div style="display: flex;">
                                                    <img src="https://cdn-icons-png.flaticon.com/512/9588/9588997.png"
                                                        height="30px" width="30px">
                                                    <h3>Amenities</h3>
                                                </div>
                                                <span style="font-size: 20px;">{{ !isExpanded ? '+' : '-' }}</span>

                                            </div>
                                            <div class="collapsible-content"
                                                [@expandCollapse]="isExpanded ? 'expanded' : 'collapsed'">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="is-furnished"
                                                                [(ngModel)]="entityData.Property.IsFurnished">
                                                            <label class="form-check-label" for="is-furnished">Is
                                                                Furnished</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="air-conditioning"
                                                                [(ngModel)]="entityData.Property.AirConditioning">
                                                            <label class="form-check-label" for="air-conditioning">Air
                                                                Conditioning</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="is-garage"
                                                                [(ngModel)]="entityData.Property.IsGarage">
                                                            <label class="form-check-label"
                                                                for="is-garage">Garage</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="heating"
                                                                [(ngModel)]="entityData.Property.Heating">
                                                            <label class="form-check-label"
                                                                for="heating">Heating</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="water-front"
                                                                [(ngModel)]="entityData.Property.WaterFront">
                                                            <label class="form-check-label"
                                                                for="water-front">Waterfront</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="parking-available"
                                                                [(ngModel)]="entityData.Property.ParkingAvailable">
                                                            <label class="form-check-label"
                                                                for="parking-available">Parking
                                                                Available</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="pet-friendly"
                                                                [(ngModel)]="entityData.Property.PetFriendly">
                                                            <label class="form-check-label" for="pet-friendly">Pet
                                                                Friendly</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="has-swimming-pool"
                                                                [(ngModel)]="entityData.Property.HasSwimmingPool">
                                                            <label class="form-check-label" for="has-swimming-pool">Has
                                                                Swimming
                                                                Pool</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="has-gym"
                                                                [(ngModel)]="entityData.Property.HasGym">
                                                            <label class="form-check-label" for="has-gym">Has
                                                                Gym</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="has-fireplace"
                                                                [(ngModel)]="entityData.Property.HasFirePlace">
                                                            <label class="form-check-label" for="has-fireplace">Has
                                                                Fireplace</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="is-smoking-allowed"
                                                                [(ngModel)]="entityData.Property.IsSmokingAllowed">
                                                            <label class="form-check-label" for="is-smoking-allowed">Is
                                                                Smoking
                                                                Allowed</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="is-wheelchair-accessible"
                                                                [(ngModel)]="entityData.Property.IsWheelchairAccessible">
                                                            <label class="form-check-label"
                                                                for="is-wheelchair-accessible">Is
                                                                Wheelchair Accessible</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-bottom: 10px;">
                                <div class="btn-group" style="float:right;">
                                    <button class="btn btn-primary" type="button" (click)="add()">Add
                                        Property</button>
                                    <button class="btn btn-secondary" (click)="back()"
                                        style="margin-right: 5pt;">Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal backdrop" id="popup" role="dialog" *ngIf="showUnitTypeInput"
                        style="display: block !important;">
                        <div class="modal-dialog" style="max-width: 600px;">
                            <div class="modal-content" style="max-height:40vh;min-height:40vh;">
                                <div class="card-header bg-info">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h2>Describe unit type</h2>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="btn-group" style="float:right;">
                                                <button class="btn btn-secondary"
                                                    (click)="back()">back</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body subtab-modal-body">
                                    <div class="row">
                                        <div [ngClass]="{'ahashakeheartache': warnClass}">
                                            <div class="col-md-12">
                                                <div class="alert alert-danger alert-dismissible" *ngIf="modalMessage">
                                                    <button type="button" class="btn-close" (click)="dismissAlert()"
                                                        aria-label="Close"></button>
                                                    <div class="alert-message">
                                                        {{modalMessage}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-horizontal">
                                            <div class="p-2">
                                                <div class="col-md-12 col-sm-6">
                                                    <label class="input-label">Unit type</label><br />
                                                    <input class="form-control" type="text"
                                                        [(ngModel)]="entityData.Property.UnitType" />
                                                </div><br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="button"
                                        (click)="continue()">Continue</button>
                                    <button class="btn btn-secondary" type="button"
                                        (click)="back()">back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>