.collapsible {
  border-radius: 5px;
  overflow: hidden;
}

.collapsible-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: #f0f0f0;
}

.collapsible-header h4 {
  margin: 0;
  margin-left: 10px;
}

.collapsible-content {
  padding: 0 10px;
  background-color: #fff;
}


.custom-readonly-input {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: #f5f6f8;
  color: #333;
  border-radius: 4px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  min-height: 30px;
}

.form-right {
  width: 25%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.form-left {
  width: 75%;
}

.file-upload-button {
  background-color: #5b73e8;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.file-delete-button {
  background-color: #e74c3c;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.subtab-modal-body {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  padding: 5px;
}